# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# IDE/editor files
.vscode/
.idea/
.fleet/

# misc OS junk
.DS_Store

# Local env files
.env
.env.*
!.env.example

# Ignore duplicate or backup asset artifacts
**/*copy*
**/*backup*
**/*temp*
**/*.psd
**/*.zip
**/*.rar
